<div id="<%= dom_id disney %>">
  <p>
    <strong>Title:</strong>
    <%= disney.title %>
  </p>

  <p>
    <strong>Main character:</strong>
    <%= disney.main_character %>
  </p>

  <p>
    <strong>Year created:</strong>
    <%= disney.year_created %>
  </p>

</div>
